{% load static %}
<html>
<body style="background: #A0E9E0">
    <h1 style="left: 50%; top: -20px; position: absolute; color: black; font-size: 80px; font-family: Inter; font-weight: 400; word-wrap: break-word; transform: translateX(-50%);">Bienvenue</h1>
    <button class="button" style="position: absolute; top: 200px; left: 250px; width: 200px; height: 50px;" onclick="window.location.replace('scene')">Gestion des Scene</button>
    <button class="button" style="position: absolute; top: 500px; left: 250px; width: 200px; height: 50px;" onclick="window.location.replace('configuration')">Nouvelle configuration</button>
    <button class="button" style="position: absolute; top: 200px; right: 250px; width: 200px; height: 50px;" onclick="window.location.replace('generation')" >Generation des rendus</button>
    <button class="button" style="position: absolute; top: 500px; right: 250px; width: 200px; height: 50px;">Comparaison</button>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/gener.js' %}"></script>
</html>


