<!DOCTYPE html>
<html>
<head>
    <title>Comparaison de Configurations</title>
    {% load static %}
</head>
<body>
    <h1 style="left: 50%; top: -20px; position: absolute; color: black; font-size: 80px; font-family: Inter; font-weight: 400; word-wrap: break-word; transform: translateX(-50%);">Comparaison</h1>
    <div id="selections-container" style="margin-top:350px; left: 20px;">
        <div class="selection-group">
            <label for="select_config">Version :</label>
            <select class="source_select" style="width: 200px">
                <option value="" disabled selected>Choisir</option>
                {% for folder in folders %}
                <option value="{{ folder }}">{{ folder }}</option>
                {% endfor %}
            </select>
            <label for="select_config" style="margin-left: 15px">Date :</label>
            <select class="destination_select" style="margin-left: 15px; width: 200px">
                <option value="" disabled selected>Choisir</option>
            </select>
            <br>
        </div>
    </div>

    <button id="add_selection">+</button>
    <button id="view-all-images">Voir toutes les images</button>

    <script src="{% static 'js/compar.js' %}"></script>
</body>
</html>